<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
	
    <title>Carpooling</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  	<link href="../../assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
  	<link href="../../assets/css/jquery.dataTables.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
	

  </head>
  <style>
    .service-block{margin-top: 60px;}
	.banner-under-nav{text-align: center;}
  </style>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="/navigation">
            Carpooling
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/Carpooling">
                Home
              </a>
            </li>
            <li>
              <a href="/Carpooling/myOrders">
                	我的拼车
              </a>
            </li>
            <li>
              <a href="#contact">
                Contact
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
                Options
                <span class="caret">
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    Sign up
                  </a>
                </li>
                <li role="separator" class="divider">
                </li>
                <li class="dropdown-header">
                  Services
                </li>
                <li>
                  <a href="#">
                    Long term
                  </a>
                </li>
                <li>
                  <a href="#">
                    Temporary
                  </a>
                </li>
              </ul>
            </li>
			      <li>
              <a href="#">
                {{username}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="service-block">
      <div class="container">
      <center>
        <form class="form-signin"  action="http://127.0.0.1:12306/order/raiseTempOrder/{jingshihao}" method="post" id="form1">
          <h2 class="form-signin-heading">
            CarPooling Message
          </h2>
          <input type="text" id="inputcarType" class="form-control" name="carType" placeholder="CarType" required>
          <input type="text" id="inputseatTotal" class="form-control" name="totalSeats" placeholder="SeatTotal" required>
          <input type="text" id="inputseatAv" class="form-control" name="availableSeats" placeholder="SeatAvailable" required>
          <input type="date" id="inputPassword" class="form-control" name="date" placeholder="Date" required>
          <div class = "input-group">
                <input type = "text" id = "hour" class = "form-control" name="hour" placeholder="时">
                <span class = "input-group-addon">:</span>
    		    <input type = "text" id = "minute" class = "form-control" name="minute" placeholder="分">
    		    <input type = "text" id= "time" class = "form-control" name="time" style="display:none;">
    		  </div>
          <input type="text" class="form-control" name="starting" placeholder="Starting" required>
          <input type="button"  class="btn btn-lg btn-primary btn-block" value="Increase Station" onclick='addNewLine()'/>
            
          
          <div class="input-group" id="div1">
            <input type="text" class="form-control" name="route" id="route" style="display:none;">
          </div>
         
          <input type="text" class="form-control" name="ending" placeholder="Ending" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit" id="raise">
            Publish
          </button>
          
        </form>
      </center>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">This is the footer of the page</p>
      </div>
    </footer>

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.dataTables.min.js"></script>
	<script src="../../assets/js/dataTables.bootstrap.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript">
            var num = 0;
            function addNewLine()
            {
              var form = document.getElementById('div1');
              var br = document.createElement("br");
              var select = document.createElement("select");
              select.name=num;
              select.id=num;
              select.add(new Option("TJU(OLD)","TJU(OLD)"));
              select.add(new Option("TianTa","TianTa"));
              select.add(new Option("BaLiTai","BaLiTai"));
              select.add(new Option("QiLiTai","QiLiTai"));
              select.add(new Option("XinZhuang","XinZhuang"));
              var del = document.createElement('input');
              del.type = 'button';
              del.value = 'delete';
              del.onclick = function(){form.removeChild(select);
              						   form.removeChild(del);
              						   form.removeChild(br);
              						   num--;};
              form.appendChild(select);
              form.appendChild(del);
              form.appendChild(br);
              num++;
            }
		    $(document).ready(function() {
              $('#raise').click(function combineHour(){
			    $('#time').attr("value",$('#hour').val()+":"+$('#minute').val()+":00");
			    for(var i=0;i<num;i++){
			      $('#route').attr("value",$('#route').val()+$("#"+i).val()+",");
			    }
			  })
		    });
	 </script>
  </body>
</html>
