{{<tempMaster}}
{{$title}} Raise an temporary order{{/title}}
{{$mainContent}}
    <div class="service-block">
      <div class="container">
      <center>
        <form class="form-signin"  action="http://127.0.0.1:12306/order/raiseOrder/jingshihao" method="post" id="form1">
          <h2 class="form-signin-heading">
            CarPooling Message
          </h2>
          <input type="text" id="inputcarType" class="form-control" name="carType" placeholder="CarType" required>
          <input type="text" id="inputseatTotal" class="form-control" name="seatTotal" placeholder="seatTotal" required>
          <input type="text" id="inputseatAv" class="form-control" name="seatAvailable" placeholder="seatAvailable" required>
          <input type="date" id="startDate" class="form-control" name="startDate" placeholder="Date" required>
          <div class = "input-group">
                <input type = "text" id = "hour" class = "form-control" name="hour" placeholder="时">
                <span class = "input-group-addon">:</span>
    		    <input type = "text" id = "minute" class = "form-control" name="minute" placeholder="分">
    		    <input type = "text" id= "time" class = "form-control" name="time" style="display:none;">
    		  </div>
          <input type="date" id="endDate"name="endDate" style="display:none;" >
          <input type="text" id="orderType"name="orderType" value="Temp" style="display:none;" >
          <input type="text" class="form-control" name="starting" placeholder="Starting" required>
          <input type="button"  class="btn btn-lg btn-primary btn-block" value="Increase Station" onclick='addNewLine()'/>
            
          
          <div class="input-group" id="div1">
            <input type="text" class="form-control" name="route" id="route" style="display:none;">
          </div>
         
          <input type="text" class="form-control" name="ending" placeholder="Ending" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit" id="raise">
            Publish
          </button>
          
        </form>
      </center>
      </div>
    </div>

{{/mainContent}}
{{$pageScripts}}
  <script src="/assets/js/datatables.min.js"></script>
	<script type="text/javascript">
            var num = 0;
            function addNewLine()
            {
              var form = document.getElementById('div1');
              var br = document.createElement("br");
              var select = document.createElement("select");
              select.name=num;
              select.id=num;
              select.add(new Option("TJU(OLD)","TJU(OLD)"));
              select.add(new Option("TianTa","TianTa"));
              select.add(new Option("BaLiTai","BaLiTai"));
              select.add(new Option("QiLiTai","QiLiTai"));
              select.add(new Option("XinZhuang","XinZhuang"));
              var del = document.createElement('input');
              del.type = 'button';
              del.value = 'delete';
              del.onclick = function(){form.removeChild(select);
              						   form.removeChild(del);
              						   form.removeChild(br);
              						   num--;};
              form.appendChild(select);
              form.appendChild(del);
              form.appendChild(br);
              num++;
            }
		    $(document).ready(function() {
            $('#raise').click(function combineHour(){
    			    $('#time').attr("value",$('#hour').val()+":"+$('#minute').val()+":00");
    			    for(var i=0;i<num;i++){
    			      $('#route').attr("value",$('#route').val()+$("#"+i).val()+",");
    			    }
    			  });

            $('#startDate').change(function() {
                $('#endDate').val($('#startDate').val());
            });
		    });
	 </script>
{{/pageScripts}}
{{/tempMaster}}
