{{<tempMaster}}
  {{$title}} Temporary Carpooling {{/title}}

{{$pageContent}}
    <div class="service-block">
      <div class="container">
      <center>
		<h2 class="form-signin-heading">
  	    Choose a function!
  	  </h2>
  	  <p>
  	    <a href="/tempCarpooling/invite" ><button type="button" class="btn btn-primary btn-lg">I have a car</button></a>
  	    <a href="/tempCarpooling/join" ><button type="button" class="btn btn-primary btn-lg">I want a car</button></a>
  	  </p>
  	  </center>
      </div>
    </div>


{{/tempMaster}}