{{<tempMaster}}
  {{$title}} Temporary Carpooling {{/title}}

{{$pageLinks}}
	<link href="../../assets/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="sticky-footer-navbar.css" rel="stylesheet">
{{/pageLinks  }}

{{$pageContent}}
    <div class="service-block">
      <div class="container">
      <center>
		<h2 class="form-signin-heading">
  	    Choose a function!
  	  </h2>
  	  <p>
  	    <a href="/Carpooling/raise" ><button type="button" class="btn btn-primary btn-lg">I have a car</button></a>
  	    <a href="/Carpooling/orders" ><button type="button" class="btn btn-primary btn-lg">I want a car</button></a>
  	  </p>
  	  </center>
      </div>
    </div>

{{$pageScripts}}
	<script src="../../assets/js/jquery.dataTables.min.js"></script>
	<script src="../../assets/js/dataTables.bootstrap.min.js"></script>
{{/pageScripts}}
{{/tempMaster}}