<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rickie">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/sticky-footer-navbar.css" rel="stylesheet">
    {{$pageLinks}}
    <link rel="icon" href="/assets/favicon.ico">
    {{/pageLinks}}
    <title>
      {{$title}}Navigation to Carpooling{{/title}}
    </title>
    
  </head>
  <style>
  .service-block{margin-top: 60px;}
  .banner-under-nav{text-align: center;}
  </style>
  {{$pageStyle}}
  {{/pageStyle}}
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="#">
            Carpooling
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/navigation">
                Home
              </a>
            </li>
            <li>
              <a href="#about">
                About
              </a>
            </li>
            <li>
              <a href="#contact">
                Contact
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
                Options
                <span class="caret">
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    Sign up
                  </a>
                </li>
                <li role="separator" class="divider">
                </li>
                <li class="dropdown-header">
                  Services
                </li>
                <li>
                  <a href="/Carpooling/longTerm">
                    Long term
                  </a>
                </li>
                <li>
                  <a href="/Carpooling/tempCarpooling">
                    Temporary
                  </a>
                </li>
              </ul>
            </li>
      <li>
                  <a id="userid" href="#">
                    {{username}}
                  </a>
                </li>
          </ul>
        </div>
      </div>
    </nav>
    {{$mainContent}}{{/mainContent}}

    

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Carpooling for your daily convenience</p>
      </div>
    </footer>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  {{$pageScripts}}
  
  {{/pageScripts}}


  </body>

</html>