{{$tempMaster}}
    {{$title}}View all temp orders{{/title}}
    {{$pageLinks}}
  	<link href="../../assets/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
	  {{/pageLinks}}


    
{{$pageContent}}
    <div class="service-block">
      <div class="container">
		<div>
		  <table id="orders" class="display" width="100%">
		    <thead>
            <tr>
            </tr>
        </thead>
 
		  
		  </table>
		  
		</div>

      </div>
    </div>

{{/pageContent}}

{{$pageScripts}}
	<script src="../../assets/js/jquery.dataTables.min.js"></script>
	<script src="../../assets/js/dataTables.bootstrap.min.js"></script>
	<script>
    var tharray = ["orderNum","carType","orderType","totalSeats","availableSeats","startDate","endDate","time","starting","ending","route"];
    var arraytemplate = ["orderNum","carType","orderType","seatTotal","seatAvailable","startDate","endDate","time","starting","ending","route","status"];

    //define a template
    //add to one array
    // array add to array
    //transform json to 2D array 
    function jsonToArray(dataSet){
      var json = eval(dataSet);
      var dataSrc = new Array();
      $.each(json,function(index,item){
        var orderNum = json[index].orderNum;
        var carType = json[index].carType;
        var orderType = json[index].orderType;
        var seatTotal = json[index].totalSeats;
        var seatAvailable = json[index].availableSeats;
        var startDate = json[index].startDate;
        var endDate = json[index].endDate;
        var time = json[index].time;
        var starting = json[index].starting;
        var ending = json[index].ending;
        var route = json[index].route;
        var ordertable = new Array(orderNum,carType,orderType,totalSeats,availableSeats,startDate,endDate,time,starting,ending,route);
        dataSrc[index]= ordertable;
      });
      return dataSrc;
    }

    // add all the th to the table
    function addth(tableid,tharray){
      var $table.tr = $('#'+tableid+' tr');
      var $thcontent =$('<tr/>')
      $.each(tharray,function(index,val){
          $thcontent.html(val).appendTo($table.tr);
      });
    }

    // // trying to load as a template but failed
    // function jToArray(dataSet,arraytemplate){
    //   var json = eval(dataSet);
    //   var dataSrc = new Array();
    //   $.each(json,function(index,item){
    //     $.each(json[index],function(i,val){

    //     });
    //   });
    // }

    	$(document).ready(function() {
    		// initiate dataTables 
    		$('#orders').DataTable();
    			console.info("before ajax");
    			$.ajax({
    				url: 'http://127.0.0.1:12306/'+$('#username').html()+'/Temp',
    				type: 'GET',
    				dataType : "json", 
    				success: function(data){
    					var dataSrc = jsonToArray(data);
    				  $('#orders').dataTable({
                  "destroy" : true,
                  "data":"dataSrc",
                  "aoColumns": [
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      { "mData": },
                      {
                          "mData": null,
                         "mRender": function(data, type, full) {
                            return '<a class="btn btn-info btn-sm" href="/join/' +$('#username').html()+'/'+ full[0] + '">' + 'Join' + '</a>';
                          }
                      }
                  ]
              });
    				}
    			});

    	} );
	</script>
{{/pageScripts}}

{{/tempMaster}}
