{{<tempMaster}}
    {{$title}}View all temp orders{{/title}}
    {{$pageLinks}}
    <link href="/assets/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/assets/css/datatables.min.css" rel="stylesheet">
	  {{/pageLinks}}


    
{{$mainContent}}
    <div class="service-block">
      <div class="container">
		<div>
		  <table id="orders" class="display" width="100%">
		    <thead>
            <tr>
            </tr>
        </thead>
 
		  
		  </table>
		  
		</div>

      </div>
    </div>

{{/mainContent}}

{{$pageScripts}}
	<script src="/assets/js/datatables.min.js"></script>
	<script>
    var tharray = ["orderNum","carType","orderType","seatTotal","seatAvailable","startDate","endDate","time","starting","ending","route",""];
    var arraytemplate = ["orderNum","carType","orderType","seatTotal","seatAvailable","startDate","endDate","time","starting","ending","route","status"];

    //define a template
    //add to one array
    // array add to array
    //transform json to 2D array 
    function jsonToArray(dataSet){
      var json = eval(dataSet);
      var dataSrc = new Array();
      $.each(json,function(index,item){
        var orderNum = json[index].orderNum;
        var carType = json[index].carType;
        var orderType = json[index].orderType;
        var seatTotal = json[index].seatTotal;
        var seatAvailable = json[index].seatAvailable;
        var startDate = json[index].startDate;
        var endDate = json[index].endDate;
        var time = json[index].time;
        var starting = json[index].starting;
        var ending = json[index].ending;
        var route = json[index].route;
        var join = "";
        var ordertable = new Array(orderNum,carType,orderType,seatTotal,seatAvailable,startDate,endDate,time,starting,ending,route,join);
        dataSrc[index]= ordertable;
      });
      return dataSrc;
    }

    // add all the th to the table
    function addth(tableid,tharray){
      var $tabletr = $('#'+tableid+' tr');
      
      $.each(tharray,function(index,val){
          var $thcontent =$('<th/>')
          $thcontent.html(val).appendTo($tabletr);
      });
    }

      $(document).ready(function() {
        addth("orders",tharray);
        // initiate dataTables 
        //$('#orders').DataTable();
        console.info($('#userid').html());
        $.ajax({
          url: 'http://127.0.0.1:12306/order/availableOrders/'+username+'/Temp',
          type: 'GET',
          dataType : "json", 
          success: function(data){
            console.info(data);
            var dataSrc = jsonToArray(data);
            console.info(dataSrc);
            $('#orders').DataTable({
                'bSort': false,
                "destroy" : true,
                "data":dataSrc,
                "aoColumns": [
                    { "mData": 0},
                    { "mData": 1},
                    { "mData": 2},
                    { "mData": 3},
                    { "mData": 4},
                    { "mData": 5},
                    { "mData": 6},
                    { "mData": 7},
                    { "mData": 8},
                    { "mData": 9 },
                    { "mData": 10 },
                    {
                        "mData": null,
                        "mRender": function(data, type, full) {
                          return '<a class="btn btn-info btn-sm" href="http://127.0.0.1:12306/order/join/'+username+'/'+ full[0] + '">' + 'Join' + '</a>';
                        }
                    }
                ]
            });
          }
        });
      });
  </script>
{{/pageScripts}}

{{/tempMaster}}
