<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Allen">
    <link rel="icon" href="../../favicon.ico">
    <title>
      I Have A Car
    </title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="../assets/css/normal.css" rel="stylesheet">
    <script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CarPooling System</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="#">Hello,User</a></li>
          <li class="active"><a href="#">Account Setting</a></li>
        </ul>
      </div>
    </nav>
    
  	<div class="container">
  	  <center>
        <form class="form-signin"  action="signin" method="post" id="form1">
          <h2 class="form-signin-heading">
            CarPooling Message
          </h2>
          <input type="text" id="inputcarType" class="form-control" name="carType" placeholder="CarType" required>
          <input type="text" id="inputseatTotal" class="form-control" name="seaatTotal" placeholder="SeatTotal" required>
          <input type="text" id="inputseatAv" class="form-control" name="seaatAv" placeholder="SeatAvailable" required>
          <div class="input-group date form_date col-md-15" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            <input class="form-control" size="16" type="text" value="" placeholder="Date" readonly>
            <span class="input-group-addon">Reset<span class="glyphicon glyphicon-remove"></span></span>
		    <span class="input-group-addon">Date<span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <div class="input-group date form_time col-md-15" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
            <input class="form-control" size="16" type="text" value="" placeholder="Time" readonly>
            <span class="input-group-addon">Reset<span class="glyphicon glyphicon-remove"></span></span>
		    <span class="input-group-addon">Time<span class="glyphicon glyphicon-time"></span></span>
          </div>
          <script type="text/javascript">  
            $('.form_date').datetimepicker({
              language:  'en',
              weekStart: 1,
              todayBtn:  1,
		      autoclose: 1,
		      todayHighlight: 1,
		      startView: 2,
		      minView: 2,
		      forceParse: 0
            }); 
            $('.form_time').datetimepicker({
              language:  'en',
              weekStart: 1,
              todayBtn:  1,
		      autoclose: 1,
		      todayHighlight: 1,
		      startView: 1,
		      minView: 0,
		      maxView: 1,
		      forceParse: 0
            });
          </script>
          <input type="text" class="form-control" name="starting" placeholder="Starting" required>
          <input type="button"  class="btn btn-lg btn-primary btn-block" value="Increase Station" onclick='addNewLine()'/>
            
          
          <div class="input-group" id="div1"></div>
          <script type="text/javascript">
            function addNewLine()
            {
              var form = document.getElementById('div1');
              var br = document.createElement("br");
              var select = document.createElement("select");
              select.add(new Option("TJU(OLD)","1"));
              select.add(new Option("TianTa","2"));
              select.add(new Option("BaLiTai","3"));
              select.add(new Option("QiLiTai","4"));
              select.add(new Option("XinZhuang","5"));
              var del = document.createElement('input');
              del.type = 'button';
              del.value = 'delete';
              del.onclick = function(){form.removeChild(select);
              						   form.removeChild(del);
              						   form.removeChild(br)};
              form.appendChild(select);
              form.appendChild(del);
              form.appendChild(br);
            }
          </script>
          
          <input type="text" class="form-control" name="ending" placeholder="Ending" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Publish
          </button>
        </form>
      </center>
    </div>
  </body>