{{<master}}
  {{$title}} Long Term Carpooling {{/title}}

{{$mainContent}}
    <div class="service-block">
      <div class="container">
      <center>
		<h2 class="form-signin-heading">
  	    Choose a function!
  	  </h2>
  	  <p>
  	    <a href="/Carpooling/raiseLongOrder" ><button type="button" class="btn btn-primary btn-lg">I have a car</button></a>
  	    <a href="/Carpooling/viewLongTermOrders" ><button type="button" class="btn btn-primary btn-lg">I want a car</button></a>
  	  </p>
  	  </center>
      </div>
    </div>
{{/mainContent}}

{{/master}}