{{<master}}

{{$title}}
      Navigation to Carpooling
{{/title}}


{{$mainContent}}
    <div class="service-block">
      <div class="container">
		
		  <div class="row">
		  <div class="col-lg-12">
		  <div class="banner-under-nav">
		    <div class="jumbotron">
		      <img class="img-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                alt="Generic placeholder image" width="95%" height="140">
			</div>
			</div>
		  </div>
		</div>
		<hr>
        <div class="row">
          <div class="col-lg-6">
            <div class="jumbotron">
              <img class="img-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
              alt="Generic placeholder image" width="400" height="140">
              <h2>
                Temporary Carpooling
              </h2>
              <p>
                Temporary carpooling provides service of a one time carpooling service
              </p>
              <p>
                <a class="btn btn-default" href="/tempCarpooling" role="button">
                  Start &raquo;
                </a>
              </p>
            </div>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-6">
            <div class="jumbotron">
              <img class="img-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
              alt="Generic placeholder image" width="400" height="140">
              <h2>
                Long Term Carpooling
              </h2>
              <p>
                Long term carpooling provides service of a 
              </p>
              <p>
                <a class="btn btn-default" href="#" role="button">
                  Start &raquo;
                </a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
{{/mainContent}}
{{/master}}