<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
	
    <title>Navigation</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/jquery.dataTables.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
	

  </head>
  <style>
    .service-block{margin-top: 60px;}
	.banner-under-nav{text-align: center;}
  </style>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="#">
            Carpooling
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#about">
                About
              </a>
            </li>
            <li>
              <a href="#contact">
                Contact
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
                Options
                <span class="caret">
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    Sign up
                  </a>
                </li>
                <li role="separator" class="divider">
                </li>
                <li class="dropdown-header">
                  Services
                </li>
                <li>
                  <a href="#">
                    Long term
                  </a>
                </li>
                <li>
                  <a href="#">
                    Temporary
                  </a>
                </li>
              </ul>
            </li>
			<li>
                  <a href="#">
                    {{user}}
                  </a>
                </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="service-block">
      <div class="container">
		<div>
		  <button id="test" class="btn btn-sm btn-primary" type="submit">
            test
          </button>
		</div>
		<div>
		  <table id="orders" class="display" width="100%">
		    <thead>
            <tr>
                <th>orderNum</th>
                <th>carType</th>
                <th>seatTotal</th>
                <th>seatAvailable</th>
                <th>date</th>
                <th>time</th>
				<th>route</th>
				<th>starting</th>
                <th>ending</th>
            </tr>
        </thead>
 
		  
		  </table>
		  
		</div>

      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">This is the footer of the page</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery.dataTables.min.js"></script>
	<script src="../assets/js/dataTables.bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
	
	
	<script>
	$(document).ready(function() {
		// initiate dataTables 
		var table = $('#orders').DataTable();
		
		// onclick, ajax to get table in JSON 
		$('#test').click(function getTable(){
			console.info("before ajax");
			$.ajax({
				url: 'http://192.168.31.113:12306/order/all',
				type: 'GET',
				dataType: 'JSON',
				success: function(data){
					console.info("ajax succeeded");
					console.info(data);
					
					// transform json to 2D array 
					var dataSrc = jsonToArray(data);
					$('#orders').DataTable({
						// destroy the table to refresh
						destroy: true,
						
						// bind the table data with the array
						data: dataSrc,
						
						// define the columns
						columns: [
							{ title: "orderNum" },
							{ title: "carType" },
							{ title: "seatTotal" },
							{ title: "seatAvailable" },
							{ title: "date" },
							{ title: "time" },
							{ title: "route" },
							{ title: "starting" },
							{ title: "ending" }
						]
					});
					console.info("table loaded");
					
				}
			});
		});
	} );
	</script>
	<script>
		//transform json to 2D array 
		function jsonToArray(dataSet){
			var json = eval(dataSet)
			var dataSrc = new Array();
			$.each(json,function(index,item){
				var orderNum = json[index].orderNum;
				var carType = json[index].carType;
				var seatTotal = json[index].seatTotal;
				var seatAvailable = json[index].seatAvailable;
				var date = json[index].date;
				var time = json[index].time;
				var route = json[index].route;
				var starting = json[index].starting;
				var ending = json[index].ending;
				var ordertable = new Array(orderNum,carType,seatTotal,seatAvailable,date,time,route,starting,ending);
				dataSrc[index]=ordertable;
			});
			return dataSrc;
		}
	</script>
	<script>
	
	</script>
	<!-- data required : 
	  {{user}}
	  link: longterm carpooling -- start
	  
	-->

  </body>
</html>
